.mainDisplayer{
    overflow-y: scroll;
    height:85%;
    padding:5px;
    margin:5px;
    border-radius: 20px;
}

.mainDisplayer::-webkit-scrollbar {
    width: 5px;            
}

.mainDisplayer::-webkit-scrollbar-thumb {
    background-color: #A8F0C1;
    border-radius: 20px;     
}